---
layout: default
---

<div class="home">

  <h1 class="page-heading">Articles</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h2>
        <a class="post-link"
          href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <h4 class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d %Y" }}</time>
        by <a href="mailto:{{ post.author.email }}">{{ post.author.display_name }} </a>
      </h4>
      {{ post.excerpt }}
    </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
    {% else %}
    <span>Previous</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span>{{ page }}/{{ paginator.total_pages }}</span>
    {% elsif page == 1 %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
    {% else %}
    <span>Next</span>
    {% endif %}
  </nav>
  {% endif %}

</div>
