/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
//    margin: $spacing-unit / 3 auto;
}

/**
 * Blockquotes
 */
blockquote {
    border-left: 4px solid $red-color-autumn;
    background: $background-color-dark;
    padding: $spacing-unit / 3 $spacing-unit / 2;
}

/**
 * Code formatting
 */
pre,
code {
    background-color: $background-color-dark;
}

/**
 * abbr
 */
abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #777;
}

/**
 * Icons
 */
.icon > svg {
        width: 16px;
        height: 16px;
}
