body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.site-header {
	border-top-color: #19082c;
	background-color: #45197b;
}

.site-title {
	color: #fff !important;
}

.site-header a:hover {
	text-decoration:none;
}

.site-nav .page-link {
	color: #418EF5;
}

.post-title {
	letter-spacing: normal;
	line-height: 1.2;
	font-weight: 300;
	margin-bottom: 10px;
	color: #2d2d2d;
}

.post-link {
	display: initial;
}

.post-link:hover {
	color: #DD4D31;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
	color: #2d2d2d;
}

.post-content p {
	line-height: 1.75;
}

/**
 * pagination
 */
.pagination {
	text-align: center;
	font-weight: normal;
	font-size: small;
}

.pagination > a,
.pagination > span {
	padding-left: 2px;
	padding-right: 2px;
}

.pagination>a:first-child,
.pagination>span:first-child {
	padding-right: 20px;
}

.pagination>a:last-child,
.pagination>span:last-child {
	padding-left: 20px;
}

/**
 * post meta
 */
.cat,
.tag {
	display: inline-block;
	padding: 2px 4px;
	margin: 0px 2px;
	border: 1px solid #eee;
	border-radius: 5px;
	line-height: 1;
	vertical-align: middle;
	color: #337ab7;
	text-align: center;
	white-space: nowrap;
}

pre,
code {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 13px;
}

blockquote {
	font-size: 95%;
	letter-spacing: normal;
}

dt {
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

th,
td {
	border-bottom: 1px solid #ddd;
	padding: 4px;
}
