---
layout: fullwidth
---

<head>
<meta name="keywords" content="Moxile, Markdown, Editor">
</head>

<body>

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">

<main role="content">

<div class="jumbotron">
  <div class="container">
    {{ content }}
  </div>
</div>

</main>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/moxile/js/application.js"></script>

</body>
